In [1]:
import numpy as np #np is alias for numpy
#to use func of numpy we will have to use .operator
#i.e np.func_name
# it is numerical python
# it deals with arrays

In [6]:
# variable name : arr1
#np.array(): function used to define array
# 0 dimension array
arr1 =np.array(1)

In [9]:
arr1

array(1)

In [11]:
#np.ndim(): func used to check dimension of an array
arr1.ndim

0

In [14]:
#np.shape : function used to check number of elements present in each dimension of an array
arr1.shape

()

In [18]:
# one dimensional array
arr2 = np.array([1,2,3])

In [20]:
arr2

array([1, 2, 3])

In [22]:
#2-d array
arr3 = np.array([[1,2,3],[4,5,6],[7,8,9],[0,6,3]])

In [24]:
arr3

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9],
       [0, 6, 3]])

In [32]:
#3-d array
arr4 = np.array([[[1,2],[3,4]],[[1,2],[3,4]],[[1,2],[3,4]]])

In [33]:
arr4

array([[[1, 2],
        [3, 4]],

       [[1, 2],
        [3, 4]],

       [[1, 2],
        [3, 4]]])

In [2]:
#make 4*3 array 
#make 2*3*4 array
#make 3*3 array
#make 2*2*2 array
#for each array print shape and dimensions

In [9]:
#N-D array

a = np.array(42)
b = np.array([1,2,3,4,5])
c = np.array([[1,2,3], [4,5,6], [44,55,66], [14,15,16]])
d = np.array([[1,2,3], [4,5,6], [1,2,3], [4,5,6]])


arr2= np.array([[[1,2,3],[4,5,6]],[[1,2,3],[4,5,6]],[[1,2,3],[4,5,6]]])
arr2

array([[[1, 2, 3],
        [4, 5, 6]],

       [[1, 2, 3],
        [4, 5, 6]],

       [[1, 2, 3],
        [4, 5, 6]]])

In [10]:
b

array([1, 2, 3, 4, 5])

In [12]:
b[2] #index

3

In [14]:
b[2:] # 2 onwards

array([3, 4, 5])

In [15]:
b[:3] # till index 2

array([1, 2, 3])

In [16]:
c# array c

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [44, 55, 66],
       [14, 15, 16]])

In [19]:
c[2,1] # index of row (2) and column (2)

55

In [20]:
c[1:3,1:3]#1to 2,  1 to 2row index

array([[ 5,  6],
       [55, 66]])

In [22]:
c[:,:] # all rows and column

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [44, 55, 66],
       [14, 15, 16]])

In [23]:
c[0:2,0:3]

array([[1, 2, 3],
       [4, 5, 6]])

In [24]:
c[1,1]

5

In [25]:
#reshaping array
arr = np.array([1,2,3,4,5,6,7,8,9,10,11,12])
print(arr)

[ 1  2  3  4  5  6  7  8  9 10 11 12]

In [26]:
arr.reshape(12,1)

array([[ 1],
       [ 2],
       [ 3],
       [ 4],
       [ 5],
       [ 6],
       [ 7],
       [ 8],
       [ 9],
       [10],
       [11],
       [12]])

In [28]:
arr.reshape(3,4)

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

arr.reshape(4,3)

In [29]:
arr.reshape(4,3)

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [31]:
for x in np.nditer(arr):
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12

In [ ]:
# make 3 by 3 array and iterarte over each element usin for loops
#3 by 3 array and iterarte over each element using np.dinditer

In [3]:

import numpy as np

In [17]:
n= np.array([[3,2,1,5], [7,2,3,1] , [0,6,5,4], [7,5,9,3]])

In [10]:
n

array([[3, 2, 1, 5],
       [7, 2, 3, 1],
       [0, 6, 5, 4],
       [7, 5, 9, 3]])

In [37]:
#task1
n[1:3,1:4]

array([[2, 3, 1],
       [6, 5, 4]])

In [41]:
#task2
n[0:1,1:2]

array([[2]])

In [43]:
#task3
n[0:4,1:4]

array([[2, 1, 5],
       [2, 3, 1],
       [6, 5, 4],
       [5, 9, 3]])

In [45]:
#task4
n[1:3,0:4]

array([[7, 2, 3, 1],
       [0, 6, 5, 4]])

In [47]:
#ref
n[:,:]

array([[3, 2, 1, 5],
       [7, 2, 3, 1],
       [0, 6, 5, 4],
       [7, 5, 9, 3]])

In [5]:
#task5 make 3 by 3 array and iterarte over each element usin for loops
arr=np.array([[4,5,6],[3,4,2],[1,2,3]])
arr

array([[4, 5, 6],
       [3, 4, 2],
       [1, 2, 3]])

In [7]:
for row in arr: 
    #print(row)
    #print("-----")#doubt
    for col in row:
        print(col)

4
5
6
3
4
2
1
2
3

In [27]:
 # task63 by 3 array and iterarte over each element using np.dinditeri in np.nditer(x):
for i in np.nditer(x):
    print(i)

4
5
6
3
4
2
1
2
3

In [2]:
a= np.array([[1,2,3,4,6],[6,5,6,7,4],[4,3,4,3,3],[1,9,8,0,7],[9,4,6,7,5]])
a

array([[1, 2, 3, 4, 6],
       [6, 5, 6, 7, 4],
       [4, 3, 4, 3, 3],
       [1, 9, 8, 0, 7],
       [9, 4, 6, 7, 5]])

In [4]:
#task8 keeps only even index rows and column

a[0:5:2,0:5:2]

array([[1, 3, 6],
       [4, 4, 3],
       [9, 6, 5]])

In [8]:
#broadcasting
#element wise operation

In [17]:
a= np.array([[-0.5,2,0.0],[-3,2,-3.0]])
print(a)

[[-0.5  2.   0. ]
 [-3.   2.  -3. ]]

#element wise multiplication

In [10]:
a*2

array([[-1.,  4.,  0.],
       [-6.,  4., -6.]])

In [11]:
np.divide(a,2)

array([[-0.25,  1.  ,  0.  ],
       [-1.5 ,  1.  , -1.5 ]])

In [18]:
print(a.T)

[[-0.5 -3. ]
 [ 2.   2. ]
 [ 0.  -3. ]]

In [24]:
a.sort(axis=0) # arrguement
print(a)

[[-3.  -3.   2. ]
 [-0.5  0.   2. ]]

In [27]:
A= np.array([[1,2,3],[2,3,4]])
B = np.array([[2,1,3],[2,2,4]])

In [30]:
A

array([[1, 2, 3],
       [2, 3, 4]])

In [31]:
B

array([[2, 1, 3],
       [2, 2, 4]])

In [32]:
A==B

array([[False, False,  True],
       [ True, False,  True]])

In [41]:
c =A[A==B]
print(c)

[3 2 4]

In [ ]:
#aggregate function
#aggregate func aggregates thr given axis.
#eg axis = 0 will aggregate all row

In [42]:
print(A)

[[1 2 3]
 [2 3 4]]

In [43]:
#returns sum of all element of array
A.sum()

15

In [45]:
#column wise sumation
A.sum(axis=0)

array([3, 5, 7])

In [46]:
#row wise summation
A.sum(axis=1)

array([6, 9])

In [49]:
# vertical stack
e= np.hstack((A,B))
print(e)

[[1 2 3 2 1 3]
 [2 3 4 2 2 4]]

In [2]:
import numpy as np

In [50]:
#task1 create array of same size as array a and try add multi subtract and divis with both array using operator as well as np.function()

In [3]:
a= np.array([[3,2,1],[1,2,3],[5,6,7]])
b = np.array([[7,5,6],[4,8,7],[9,7,0]])

In [11]:
a ,b

(array([[3, 2, 1],
        [1, 2, 3],
        [5, 6, 7]]),
 array([[7, 5, 6],
        [4, 8, 7],
        [9, 7, 0]]))

In [12]:
a*b

array([[21, 10,  6],
       [ 4, 16, 21],
       [45, 42,  0]])

In [13]:
a-b

array([[-4, -3, -5],
       [-3, -6, -4],
       [-4, -1,  7]])

In [14]:
a+b

array([[10,  7,  7],
       [ 5, 10, 10],
       [14, 13,  7]])

In [16]:
a/b

C:\Users\surti\AppData\Local\Temp\ipykernel_3572\1348051284.py:1: RuntimeWarning: divide by zero encountered in true_divide
  a/b

array([[0.42857143, 0.4       , 0.16666667],
       [0.25      , 0.25      , 0.42857143],
       [0.55555556, 0.85714286,        inf]])

In [51]:
#task 2
np.exp
np.sqrt
np.sin
np.cos
np.log

In [18]:
np.exp(a) , np.exp(b)

(array([[  20.08553692,    7.3890561 ,    2.71828183],
        [   2.71828183,    7.3890561 ,   20.08553692],
        [ 148.4131591 ,  403.42879349, 1096.63315843]]),
 array([[1.09663316e+03, 1.48413159e+02, 4.03428793e+02],
        [5.45981500e+01, 2.98095799e+03, 1.09663316e+03],
        [8.10308393e+03, 1.09663316e+03, 1.00000000e+00]]))

In [19]:
np.sqrt(a) , np.sqrt(b)

(array([[1.73205081, 1.41421356, 1.        ],
        [1.        , 1.41421356, 1.73205081],
        [2.23606798, 2.44948974, 2.64575131]]),
 array([[2.64575131, 2.23606798, 2.44948974],
        [2.        , 2.82842712, 2.64575131],
        [3.        , 2.64575131, 0.        ]]))

In [20]:
np.sin(a) , np.sin(b)

(array([[ 0.14112001,  0.90929743,  0.84147098],
        [ 0.84147098,  0.90929743,  0.14112001],
        [-0.95892427, -0.2794155 ,  0.6569866 ]]),
 array([[ 0.6569866 , -0.95892427, -0.2794155 ],
        [-0.7568025 ,  0.98935825,  0.6569866 ],
        [ 0.41211849,  0.6569866 ,  0.        ]]))

In [21]:
np.cos(a) , np.cos(b)

(array([[-0.9899925 , -0.41614684,  0.54030231],
        [ 0.54030231, -0.41614684, -0.9899925 ],
        [ 0.28366219,  0.96017029,  0.75390225]]),
 array([[ 0.75390225,  0.28366219,  0.96017029],
        [-0.65364362, -0.14550003,  0.75390225],
        [-0.91113026,  0.75390225,  1.        ]]))

In [22]:
np.log(a) , np.log(b)

C:\Users\surti\AppData\Local\Temp\ipykernel_3572\1475638764.py:1: RuntimeWarning: divide by zero encountered in log
  np.log(a) , np.log(b)

(array([[1.09861229, 0.69314718, 0.        ],
        [0.        , 0.69314718, 1.09861229],
        [1.60943791, 1.79175947, 1.94591015]]),
 array([[1.94591015, 1.60943791, 1.79175947],
        [1.38629436, 2.07944154, 1.94591015],
        [2.19722458, 1.94591015,       -inf]]))

In [39]:
#1d- product of vectors
#2d - matrix multiplication
#task3 find out dot product of 2 array( 1d and 2d)

In [23]:
a * b

array([[21, 10,  6],
       [ 4, 16, 21],
       [45, 42,  0]])

In [ ]:
#task4 != > < >= <= print each bool as well as values in different cell

In [24]:
A= np.array([[1,2,3],[2,3,4]])
B = np.array([[2,1,3],[2,2,4]])

In [34]:
c=A[A!=B]
print(c)

[1 2 3]

In [35]:
A!= B

array([[ True,  True, False],
       [False,  True, False]])

In [38]:
c=A[A>B]
print(c)

[2 3]

In [26]:
A>B

array([[False,  True, False],
       [False,  True, False]])

In [39]:
c=A[A<B]
print(c)

[1]

In [27]:
A<B

array([[ True, False, False],
       [False, False, False]])

In [40]:
c=A[A>=B]
print(c)

[2 3 2 3 4]

In [28]:
A>=B

array([[False,  True,  True],
       [ True,  True,  True]])

In [41]:
c=A[A<=B]
print(c)

[1 3 2 4]

In [30]:
A<=B

array([[ True, False,  True],
       [ True, False,  True]])

In [42]:
#task 5 try min and max then cumsum ie cumulative sum

In [43]:
np.min(A)

1

In [44]:
np.max(B)

4

In [47]:
np.cumsum(a)

array([ 3,  5,  6,  7,  9, 12, 17, 23, 30], dtype=int32)

In [45]:
#task 6 mean,np.median , mode, sd np.function()

In [48]:
np.mean(A)

2.5

In [50]:
np.median(A)

2.5

In [56]:
np.mod(b)

TypeError: remainder() takes from 2 to 3 positional arguments but 1 were given

In [49]:
np.sd(A)

AttributeError: module 'numpy' has no attribute 'sd'

In [57]:
# task 7 vertical stack
np.vstack(B)

array([[2, 1, 3],
       [2, 2, 4]])

In [ ]:
# shift+tab for signature/defination

In [61]:
import pandas as pd

In [2]:
# series > one column

In [3]:
#data frame -> row and column

In [15]:
#empty series
ser = pd.Series()

C:\Users\surti\AppData\Local\Temp\ipykernel_24236\48079250.py:2: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  ser = pd.Series()

In [16]:
print(ser)

Series([], dtype: float64)

In [17]:
ser = pd.Series([11,22,33,44,55])

In [18]:
print(ser)

0    11
1    22
2    33
3    44
4    55
dtype: int64

In [26]:
l1 = [1.2,2.5,5.2,3.4,6.6]

In [38]:
ser = pd.Series(l1)
ser

0    1.2
1    2.5
2    5.2
3    3.4
4    6.6
dtype: float64

In [28]:
ser.index

RangeIndex(start=0, stop=5, step=1)

In [29]:
ser.values

array([1.2, 2.5, 5.2, 3.4, 6.6])

In [30]:
l2=['a','b','c','d','e']

In [ ]:
#sr = pd.series(data, index = index_list)

In [31]:
ser1= pd.Series(l1, index = l2)

In [36]:
ser1

a    1.2
b    2.5
c    5.2
d    3.4
e    6.6
dtype: float64

In [33]:
#how to acces a serires
#loc -> location int/string
#illoc-> int

In [39]:
ser.loc[3]

3.4

In [40]:
ser.iloc[3]

3.4

In [41]:
#start: stop: step
ser[1:4:2]

1    2.5
3    3.4
dtype: float64

In [45]:
import numpy as np

In [49]:
#series from simple array
arr= np.array(['h','e','l','l','o'])
ser= pd.Series(arr)

In [50]:
print(ser)

0    h
1    e
2    l
3    l
4    o
dtype: object

In [53]:
# a simple dictionary
dict1 = {'A' : 10, 'N': 'a', 'C':30}
#crate series from dictyionary -> index will be the keys of series and values will be column values of series 
ser= pd.Series(dict1)
print(ser)

A    10
N     a
C    30
dtype: object

In [54]:
# DATAFRAMES

In [64]:
#empty data frames
df = pd.DataFrame()

In [57]:
# adding column > col1 and values in the col 1 in data frame

In [65]:
df['col1'] =  ['qw','ew','rw']

In [66]:
df['col2'] = [222,333,np.nan]

In [67]:
df

  col1   col2
0   qw  222.0
1   ew  333.0
2   rw    NaN

In [68]:
df.head(1)

  col1   col2
0   qw  222.0

In [69]:
df.tail(1)

  col1  col2
2   rw   NaN

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col1    3 non-null      object
 1   col2    2 non-null      float64
dtypes: float64(1), object(1)
memory usage: 176.0+ bytes

In [ ]:
# #tasks 
# 1. making dataframe
# 2. acces c rowth of data frma
# 3. insert a new row f with any data
# 4.insert a new row g whic has two null value in age and address
# # 5. insert a new column date of joining# df[doj]

In [12]:
import pandas as pd

In [13]:
import numpy as np

In [19]:
a = pd.DataFrame()

In [20]:
a= pd.DataFrame( a,index = b)  #ser1= pd.Series(l1, index = l2)

In [21]:
b=['A','b','c','d','e','g']

In [22]:
a['name'] = ['sundar', 'prince','gaurav', 'anuj', 'naira','dsdfgn']

In [23]:
a['age']= ['27','54','65','45','54',np.nan]

In [24]:
a['address']=['delhi','kanpur','allahbad','kannauj','mumbai', np.nan]

In [25]:
a['qualification']= ['msc','ma','mca','phd','be','vh']

In [26]:
a['course']= ['python','ML','ML','DA','Python','jgh']

In [28]:
a['doj']= ['22','3','21','17','12','1']

In [35]:
print(a)

     name  age   address qualification  course doj
A  sundar   27     delhi           msc  python  22
b  prince   54    kanpur            ma      ML   3
c  gaurav   65  allahbad           mca      ML  21
d    anuj   45   kannauj           phd      DA  17
e   naira   54    mumbai            be  Python  12
g  dsdfgn  NaN       NaN            vh     jgh   1

In [36]:
#ser.loc[3]

In [37]:
a.iloc[2]

name               gaurav
age                    65
address          allahbad
qualification         mca
course                 ML
doj                    21
Name: c, dtype: object

In [ ]:
# exploratory data analyisis :
#     it is a process of examining or understanding the data and extracxting 
# #     insights or main character of the data

In [ ]:
# EDA  : its also involves the preparation of data sets for analysis.
#      : by removing irregularities in the data so tyhat this irregularities 
#             do not effect the further data

In [3]:
import numpy as np

In [4]:
import pandas as pd

In [5]:
#read the data set
df = pd.read_csv(r"D:\downloads(surtidhruv9001@gmail.com)\nba.csv")

In [6]:
df

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [8]:
df.describe

<bound method NDFrame.describe of               Name            Team  Number Position   Age Height  Weight  \
0    Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1      Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2     John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3      R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4    Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
..             ...             ...     ...      ...   ...    ...     ...
453   Shelvin Mack       Utah Jazz     8.0       PG  26.0    6-3   203.0
454      Raul Neto       Utah Jazz    25.0       PG  24.0    6-1   179.0
455   Tibor Pleiss       Utah Jazz    21.0        C  26.0    7-3   256.0
456    Jeff Withey       Utah Jazz    24.0        C  26.0    7-0   231.0
457            NaN             NaN     NaN      NaN   NaN    NaN     NaN

               College     Salary
0                Texas  7730337.0
1            Marquette  6796117.0
2    Boston University        NaN
3        Georgia State  1148640.0
4                  NaN  5000000.0
..                 ...        ...
453             Butler  2433333.0
454                NaN   900000.0
455                NaN  2900000.0
456             Kansas   947276.0
457                NaN        NaN

[458 rows x 9 columns]>

In [11]:
df.shape

(458, 9)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      457 non-null    object
 1   Team      457 non-null    object
 2   Number    457 non-null    float64
 3   Position  457 non-null    object
 4   Age       457 non-null    float64
 5   Height    457 non-null    object
 6   Weight    457 non-null    float64
 7   College   373 non-null    object
 8   Salary    446 non-null    float64
dtypes: float64(4), object(5)
memory usage: 32.3+ KB

In [13]:
# missing value treatment

In [14]:
# checking the missing value in eavch column
df.isnull().sum()

Name         1
Team         1
Number       1
Position     1
Age          1
Height       1
Weight       1
College     85
Salary      12
dtype: int64

In [24]:
# checking percnetage of missing data ( if more tha 30% than simply drop the columna)
(df.isnull().sum()/len(df))*100

Name         0.218341
Team         0.218341
Number       0.218341
Position     0.218341
Age          0.218341
Height       0.218341
Weight       0.218341
College     18.558952
Salary       2.620087
dtype: float64

In [26]:
## tratment of missing value 
# drop the column value : if <30% data is missing

In [ ]:
## impute the missing values
#categorical data : mode
# numerical data : median